doctype html
html(lang="en")
  head
    title CSS Boilerplate Project
    link(rel="stylesheet" type="text/css" href="css/main.css")
  body
    //- include partials/_headings
    
    div.content.center
      h1 CSS Boilerplate Project
    
    div.content
      include partials/_grid

    hr
    
    div.content
      h2 Align vertically and horizontally
      .grey-block-300.content-flat.v-align.h-align
        p This text is aligned vertically and horizontally.
    
    hr
    
    div.content 
      h2 Content wrap
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum consectetur voluptates asperiores unde delectus labore amet, ullam quasi deleniti autem adipisci facere perspiciatis tenetur, odit perferendis harum minima excepturi error. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis amet corrupti sed, ducimus soluta reprehenderit harum dolores quibusdam facere officia, ab, perspiciatis inventore libero nihil eos voluptas iusto voluptates, nostrum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo tempora reprehenderit excepturi totam voluptates odit quod, a voluptatum dolorum magni eligendi iste cum tenetur quia ab quis <em>doloremque</em> culpa <strong>temporibus</strong>!

    hr
    
    div.content-flat
      h2 Content wrap - flat
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum consectetur voluptates asperiores unde delectus labore amet, ullam quasi deleniti autem adipisci facere perspiciatis tenetur, odit perferendis harum minima excepturi error. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis amet corrupti sed, ducimus soluta reprehenderit harum dolores quibusdam facere officia, ab, perspiciatis inventore libero nihil eos voluptas iusto voluptates, nostrum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo tempora reprehenderit excepturi totam voluptates odit quod, a voluptatum dolorum magni eligendi iste cum tenetur quia ab quis <em>doloremque</em> culpa <strong>temporibus</strong>!
