h2 Grid
.row.center
  .col-1
    p .col-1
  .col-11
    p .col-11

.row.center
  .col-2
    p .col-2
  .col-10
    p .col-10

.row.center
  .col-3
    p .col-3
  .col-9
    p .col-9

.row.center
  .col-4
    p .col-4
  .col-8
    p .col-8

.row.center
  .col-5
    p .col-5
  .col-auto
    p .col-auto
  .col-4
    p .col-4
  .col-2
    p .col-2
    
.row.center
  .col-4
    p .col-4
  .col-4
    p .col-4
  .col-4
    p .col-4

.row.center
  .col-auto
    p .col-auto
  .col-auto
    p .col-auto
  .col-auto
    p .col-auto
  .col-auto
    p .col-auto
